@font-face {
    font-family: 'Armstrong';
    src: url('../fonts/Armstrong.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    font-family: 'Armstrong', sans-serif;
    color: #ffffff;
    background: linear-gradient(to bottom, #323230 0%, #c8c8c7 100%);
    min-height: 100vh;
}


.main-body {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

/* --------------------------header-------------------------- */
.header-page {
    box-sizing: border-box;
    display: flex;
    padding: 22px 64px 0 64px;
    height: 140px;
    border-bottom: 1px solid #EDEEF0;
}

.header-icon {
    width: 50%;
    display: flex;
    align-items: center;
}

.header-icon-img {
    height: 70%;
}

.language-div {
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 8px;
    width: 50%;

}

.language-icon {
    width: 20px;
}

.language-div .input-container {
    height: 40px;
    width: 150px;
    margin-bottom: 0;
}

.language-div select {
    background-color: #c8c8c7;
    font-family: 'Armstrong', sans-serif;
    border-radius: 12px;
    border: 2px solid #323230;
    box-sizing: border-box;
    color: #000;
    font-size: 14px;
    height: 100%;
    outline: 0;
    padding: 4px 10px 0;
    width: 150px;
    appearance: none;
}

/* --------------------------end header-------------------------- */
/* --------------------------page-title-------------------------- */
.page-title {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 64px;
    font-size: 36px;
    font-weight: 600;
}

.header-icon-img, .successful-icon {
    cursor: pointer;
}

/* --------------------------end page-title-------------------------- */

/* --------------------------main-------------------------- */
.main {
    display: flex;
    flex-direction: column;
    padding: 0 160px 40px 160px;
    gap: 36px;
    box-sizing: border-box;
}

.main-content {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 24px 16px;
    gap: 16px;
    border-radius: 20px;
    box-shadow: 0 6px 30px 0 rgba(62, 65, 71, 0.55);
}

#calendar {
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 10px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

#month-year {
    color: #FEE000;
    text-align: center;
}

.header button {
    padding: 10px;
    min-width: 72px;
    background-color: #ffffff;
    color: #000000;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.header button:hover {
    background-color: #000000;
    color: #ffffff;
}

.days, #dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    margin-bottom: 10px;
}

.day, .date {
    padding: 10px;
    text-align: center;
    background-color: #f8f9fa;
    border-radius: 5px;
}

.day {
    background: #FEE000;
    color: #ffffff;
    font-weight: bold;
}

.date {
    cursor: pointer;
    background: #ffffff;
    color: #000000;
    font-weight: bold;
}

.date:hover {
    background-color: #e2e6ea;
}

.slots {
    display: none;
    margin-top: 10px;
}

.slots .slot {
    padding: 5px;
    margin-bottom: 10px;
    background-color: #000000;
    color: white;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}

.slots .slot:hover {
    background-color: #FEE000;
}

/*--------------------- Modal form ---------------------*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.75);
    align-items: center;
    justify-content: center;
}

.modal-content {
    margin: 0 auto;
    width: max-content;
    position: relative;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
}

/* ----------------- form ----------------- */
.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 670px;
    max-height: 600px;
    overflow-y: auto;
    background-color: #323230;
    border-radius: 20px;
    box-sizing: border-box;
    height: auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(254, 224, 0, 0.5), 0 6px 20px rgba(254, 224, 0, 0.3);
}

.form::-webkit-scrollbar {
    width: 5px;
}

.form::-webkit-scrollbar-thumb {
    background: #FEE000;
    border-radius: 10px;
}

.form::-webkit-scrollbar-track {
    background: none;
}


.title {
    color: #FEE000;
    text-align: center;
    font-size: 36px;
    font-weight: 600;
    margin-top: 15px;
    width: 100%;
}

.input-container:nth-child(2),
.input-container:nth-child(3),
.input-container:nth-child(4),
.input-container:nth-child(5),
.input-container:nth-child(6),
.input-container:nth-child(7) {
    width: 45%;
}


.subform .input-container:nth-child(1),
.subform .input-container:nth-child(2) {
    width: 33%;
}

.subform .input-container:nth-child(3) {
    width: 20%;
}

.subform .input-container:nth-child(4) {
    width: 100%;
}


.input-container {
    height: 50px;
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.ic2 {
    margin-top: 30px;
}

.input, select {
    background-color: #c8c8c7;
    font-family: 'Armstrong', sans-serif;
    border-radius: 12px;
    border: 2px solid #323230;
    box-sizing: border-box;
    color: #000;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
    appearance: none;
}

/* --------- select 2 ---------- */
.main-body .select2-container {
    width: 100% !important;
    height: 100%;
!important;
}

.select2-container--default .select2-selection--single {
    background-color: #c8c8c7; /* Колір фону для вибраного значення */
    border: 2px solid #323230; /* Колір і товщина межі */
    border-radius: 12px;
    height: 50px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #000; /* Колір тексту вибраного значення */
    font-family: 'Armstrong', sans-serif;
    font-size: 18px;
    line-height: 50px; /* Вирівнювання тексту по висоті */
    padding: 0 20px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 50px; /* Висота стрілки */
    top: 0; /* Вирівнювання стрілки по верху */
    right: 10px; /* Відступ від правого краю */
    width: 20px; /* Ширина стрілки */
}

/* Стилі для випадаючого меню Select2 */
.select2-container--default .select2-dropdown {
    background-color: #c8c8c7; /* Фон випадаючого меню */
    border: 2px solid #323230; /* Межа випадаючого меню */
    border-radius: 12px; /* Радіус кута для межі */
    box-shadow: 0 6px 30px 0 rgba(62, 65, 71, 0.55); /* Тінь для випадаючого меню */
}

.select2-container--default .select2-results__option {
    color: #000; /* Колір тексту для опцій */
    background-color: #ffffff; /* Фон для опцій */
    font-family: 'Armstrong', sans-serif; /* Шрифт для опцій */
    font-size: 15px; /* Розмір шрифту для опцій */
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: #FEE000; /* Фон для виділеної опції */
    color: #000; /* Колір тексту для виділеної опції */
}

/* Виправлення для висоти і відступів */
.select2-container--default .select2-results > .select2-results__options {
    max-height: 250px; /* Максимальна висота для випадаючого меню */
    overflow-y: auto; /* Додає прокрутку при переповненні */
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 50px; /* Вирівнювання тексту по висоті */
}

/* --------- end select 2 ---------- */

.cut {
    background-color: #323230;
    border-radius: 10px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 170px;
}

#car___year + .cut {
    width: 80px;
}


.cut-short {
    width: 50px;
}

.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut,
select:focus ~ .cut,
select:not([value=""]) ~ .cut {
    transform: translateY(8px);
}

.placeholder {
    color: #65657b;
    left: 20px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 20px;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder,
select:focus ~ .placeholder,
select:not([value=""]) ~ .placeholder {
    transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown) ~ .placeholder,
select:not([value=""]) ~ .placeholder {
    color: #808097;
}

.input:focus ~ .placeholder,
select:focus ~ .placeholder {
    color: #FEE000;
}

select {
    padding: 8px 20px 0;
    cursor: pointer;
    background: url('../images/Arrow_Bottom.svg') no-repeat right 10px center;
    background-size: 16px;
    transition: background 200ms;
}

.submit-div {
    width: 100%;
    display: flex;
    justify-content: center;
}

#submitForm {
    font-family: 'Armstrong', sans-serif;
}

.submit {
    background-color: #FEE000;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #000;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 38px;
    text-align: center;
    width: 40%;
}

.submit:active {
    background-color: #d4b200;
}

#submitForm:disabled {
    background-color: #e0e0e0;
    color: #a0a0a0;
    cursor: not-allowed;
}

/* ----------------- end form ----------------- */

/* ----------------- SubForm ----------------- */
.hidden {
    display: none;
}

.subform {
    width: 95%;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-between;
}

.toggle-button {
    background-color: #F9E2A7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #000;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    width: 100%;
    padding: 10px;
}

.toggle-button:active {
    background-color: #d4b200;
}

.rotate-icon {
    transform: rotate(180deg);
}

/* ----------------- end SubForm ----------------- */


/*--------------------- end Modal form ---------------------*/

/* ---------------- modalNoSlots ---------------- */
#modalOverlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 9998;
}

#modalNoSlots {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    color: #000000;
    padding: 20px 30px;
    box-shadow: 0 4px 8px rgba(254, 224, 0, 0.5), 0 6px 20px rgba(254, 224, 0, 0.3);
    border-radius: 8px;
    z-index: 9999;
    text-align: center;
    font-family: 'Armstrong', sans-serif;
}

/* ---------------- end modalNoSlots ---------------- */


/* ----------------- Mobile Styles ----------------- */
@media (max-width: 768px) {
    .header-page {
        padding: 10px 10px;
        height: 100px;
        justify-content: space-between;
    }

    .header-icon {
        width: 100%;
        display: flex;
        justify-content: left;
        align-items: center;
    }

    .page-title {
        padding: 0 32px;
        font-size: 24px;
    }

    .main {
        padding: 0 10px 20px 10px;
    }

    .main-content {
        padding: 12px 8px;
    }

    #calendar {
        padding: 10px;
    }

    #month-year {
        height: 56px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
    }

    .days {
        font-size: 14px;
    }

    .days, #dates {
        width: 100%;
    }

    .date {
        padding: 10px 5px;

    }

    .day {
        padding: 5px;
    }

    .slots {
        font-size: 10px;
    }

    .modal-content {
        display: flex;
        justify-content: center;
    }

    .form {
        width: 90%;
        padding: 10px;
    }

    .title {
        font-size: 24px;
        margin-top: 20px;
    }


    .input-container:nth-child(2),
    .input-container:nth-child(3),
    .input-container:nth-child(4),
    .input-container:nth-child(5),
    .input-container:nth-child(6),
    .input-container:nth-child(7) {
        width: 100%;
    }

    .subform .input-container:nth-child(1),
    .subform .input-container:nth-child(2),
    .subform .input-container:nth-child(3),
    .subform .input-container:nth-child(4) {
        width: 100%;
    }

    .input-container {
        height: 40px;
    }

    .input {
        font-family: 'Armstrong', sans-serif;
    }

    .ic2 {
        margin-top: 20px;
    }

    .placeholder {
        top: 15px;
        font-size: 14px;
    }

    .submit {
        width: 80%;
        margin-top: 15px;

    }


    /* --------- select 2 ---------- */
    .select2-container--default .select2-selection--single {
        height: 40px; /* Висота вибраного значення */
    }

    .select2-container--default .select2-selection--single .select2-selection__rendered {
        font-size: 14px; /* Розмір шрифту для вибраного значення */
        line-height: 40px; /* Вирівнювання тексту по висоті */
    }

    .select2-container--default .select2-selection--single .select2-selection__arrow {
        height: 40px; /* Висота стрілки */
        top: 0; /* Вирівнювання стрілки по верху */
    }

    /* Стилі для випадаючого меню Select2 */
    .select2-container--default .select2-results__option {
        font-size: 14px; /* Розмір шрифту для опцій */
    }

    /* Виправлення для висоти і відступів */
    .select2-container--default .select2-selection--single .select2-selection__rendered {
        line-height: 40px; /* Вирівнювання тексту по висоті */
    }


    /* --------- end select 2 ---------- */
}